In [0]:
Ways to create a table 
1. dataframe
2. sql
3. ui

In [0]:
%sql
Create or replace table dev.naval.annual_enterprise_survey_2023 as 
(SELECT * FROM read_files(
    '/Volumes/dev/naval/raw/annual-enterprise-survey-2023-financial-year-provisional.csv',
    format => 'csv'))

In [0]:
%sql
select * from dev.naval.adult_census_income